name: Build and Push to Artifact Registry

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/951751426898/locations/global/workloadIdentityPools/github-actions-pool-my/providers/github-provider
          service_account: github-pusher@meta-wording-487206-k0.iam.gserviceaccount.com

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v2

      - name: Configure Docker
        run: gcloud auth configure-docker europe-west3-docker.pkg.dev --quiet

      - name: Build Docker image
        run: |
          docker build -t europe-west3-docker.pkg.dev/meta-wording-487206-k0/arti-repo/my-app:latest .

      - name: Push Docker image
        run: |
          docker push europe-west3-docker.pkg.dev/meta-wording-487206-k0/arti-repo/my-app:latest